p {
  text-align: left;
}

.reveal section img {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.reveal .lightimgback {
  background: #999999;
}

.reveal table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 95%;
}

.reveal table, .reveal th, .reveal td {
  border: 1px solid;
  padding: 3px;
}

img.fullscreen-img {
  display: none; }

.corner-text {
  position: absolute;
  bottom: 10px;
  left  : 40px;
  width : 100px;
  height: 100px;
}

.giant {
  font-size: 1.8em; }

.smaller {
  font-size: 0.6em; }

.footnote {
  font-size: 0.6em !important;
  padding-top: 6em !important; }

.toy-store-blue {
  color: #12daeb; }

.blushing-salmon {
  color: #f513aa; }

.golden {
  color: #ffca14; }

.greenery {
  color: #49f071; }

.georgia-peach {
  color: #ff9c4e; }

.scalared {
  color: #E61F00;
}

.radioactive-banana {
  color: #ffe34e; }